.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  composes: column;
  width: 100%;
}

.top {
  composes: column;
  background: var(--colorBG-dark);
  width: 100%;
  padding: 2em;
  box-sizing: border-box;
}

.todos {
  margin: 3em 0;
  composes: column;
  width: 80%;
}

.heading {
  font-size: 3em;
  margin: 1em 0;
}

@media (max-width: 500px) {
  .todos {
    width: 90%;
  }
}
