.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input {
  width: 80%;
  max-width: 600px;
  padding: 1em 3em;
  box-sizing: border-box;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  margin-bottom: 2em;
}

@media (max-width: 500px) {
  .input {
    width: 90%;
    padding: 1em 1.5em;
    font-size: 1em;
  }
}
